.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #6c63ff, 24px 0 #fff;
  }
  66% {
    background: #6c63ff;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #6c63ff;
  }
}
