* {
  margin: 0;
  padding: 0;
}
input,
textarea,
[contenteditable="true"] {
  caret-color: auto;
  user-select: text;
}

::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border: none;
}

a {
  text-decoration: none;
}
